/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #dde;
	position: relative;
}

.jspDrag
{
	background: #bbd;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}


.customSelect { 
	position: relative;			
	font-size: 14px;
}		
.customSelect select{
    display: none;
}
.customSelect .selectedValue {
  padding: 0px 20px;
  height: 50px;
  margin-bottom: 0;
  line-height: 48px;
  color: #111;
  cursor: pointer;
  background-color: #fff;  
  border: 1px solid #c8c8c8; 
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
 text-shadow: 0 0;
}
.select-field .customSelect .selectedValue{
  height: 36px;
  line-height: 34px;
}
.select-field2  .customSelect .selectedValue{
  height: 40px;
  line-height: 38px;
}
.customSelect .selectList {
	z-index: 100;
	position: absolute;
	left: -999em;
	top: -999em;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #008dcd;border-top: 0;
    width: 100%;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}
.customSelect.select-open{
    
}
.customSelect.select-open .selectList {
	left: 0 !important;
	top: auto !important;
}
.customSelect .selectList dl {
	background: #fff;	
}
.customSelect .selectList dl.defaultScrollbar {
	overflow-x: hidden;
	overflow-y: scroll;	
}
.customSelect dl, .customSelect dd {
	margin: 0;
}
.customSelect dd {
	zoom: 1;
	cursor: pointer;
}
.customSelect .disabled {
	color: #999;
	cursor: default;
}
.customSelect .selected {
	color: #ffffff;
	text-decoration: none;
	background-color: #008dcd;
}
.customSelect .selectList dd.hovered {
	background: #008dcd;
	color: #fff;
}
.customSelect .selectList dd.disabled.hovered {
	background: none;
	color: #999;
}
.customSelect dt {
	padding: 7px 20px 7px 20px;
}	
.customSelect dd {
	padding: 7px 20px 7px 20px;

} 
.hasJS select.custom {
	position: absolute;
	left: -999em;
}
.hasJS select.custom.use-default {
	position: absolute;
	left: auto;
	height: auto;
	width: 100%;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	opacity: 0;
	/* prevents iOS from zooming in on field */
	font-size: 16px;
}
.customSelect.focused .selectedValue {
	box-shadow: 0 0 2px #00aedb;
}
.customSelect.disabled .selectedValue {
	border: 1px solid #ccc;
	color: #ccc;
	cursor: default;
}
.customSelect .caret {
	display: inline-block;	
	content: "";
    width: 8px;
    height: 5px;
    background:url('../img/images.png') no-repeat -285px  -8px;
}
.customSelect:hover  .selectedValue{
    border-color: #008dcd;
}
.customSelect:hover .caret{
    background-position: -295px -8px;
}
.customSelect .selectValueWrap .caret {
	position: absolute;
	top: 12px;
	right: 13px;
	cursor: pointer;
    top: 50%;
    margin-top: -2.5px;
}
.customSelect .jspPane {
	overflow-x: hidden;
}
.customSelect .jspVerticalBar {
	background: none;
	width: 4px;
}
.customSelect .jspHorizontalBar {
	height: 0;
	overflow: hidden;
}
.customSelect .jspTrack {
	background: #ecf0f5;
	right: 5px;
	border-radius: 5px;
}
.customSelect .jspDrag {
	border-radius: 5px;
	background-color: #008dcd;
    width: 4px;
}


.select-open.customSelect .selectedValue{
    border-radius: 4px 4px 0 0;
    background: #f8f9fa;
    border-color: #008dcd;
    border-bottom-color: transparent;
}

