/* iCheck plugin Minimal skin, black
----------------------------------- */
.icheckbox_minimal,
.iradio_minimal {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;   
    border: none;
    cursor: pointer;
     border: 1px solid #a8abaf;
}

.icheckbox_minimal {
   border-radius: 4px;
}
    .icheckbox_minimal.hover {
         border-color: #1f9bd3;
    }
    .icheckbox_minimal.checked {
         border-color: #1f9bd3;
    }
    .icheckbox_minimal.disabled {
       opacity: 0.6;
        cursor: default;
    }
    .icheckbox_minimal.checked.disabled {
        opacity: 0.6;
    }
.icheckbox_minimal.checked:after{
    content: "";
    display: block;
    width: 13px;
    height: 10px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 50%;
    margin-left: -6.5px;
     background-image: url(../img/images.png);
    background-repeat: no-repeat;
    background-position: -270px 0px;
}


.iradio_minimal {
   border-radius: 50%;
  
}
    .iradio_minimal.hover {
       /* background-position: -120px 0;*/
        border-color: #1f9bd3;
    }
    .iradio_minimal.checked {
       /* background-position: -140px 0;*/
         border-color: #1f9bd3;
    }
    .iradio_minimal.disabled {
       /* background-position: -160px 0;*/
        opacity: 0.6;
        cursor: default;
    }
    .iradio_minimal.checked.disabled {
        /*background-position: -180px 0;*/
        opacity: 0.6;
    }

.iradio_minimal.checked:after{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 50%;
    margin-left: -6px;
    background: #1f9bd3;
    border-radius: 50%;
}

