/*home page*/

body.home{
  background: #f8f9fa;
}
.home .main-container{
  padding-bottom: 62px;
  width: 100%;
}
.home .main-container .center-holder{
  margin: 0 auto;
  position: relative;
  width: 1170px;
}
.home #header{
  background-size: cover;
  background-position: 50% 50%;
  height: 400px;
  position: relative;
  text-align: center;
  white-space:nowrap;
}
.home #header:after{
    content:'';
    display:inline-block;
    height:100%;
    width:1px;
    overflow:hidden;
    margin:0 0 0 -5px;
    vertical-align:middle;
}
.home #header > *{
  vertical-align:middle;
  display:inline-block;
  white-space:normal;
}
.home .logo-block{
  color: #fff;
  text-transform: uppercase;
  padding: 0 20px;
}
.home .logo-block .logo{
  overflow: hidden;
  text-indent: -9999px;
  background: url("../img/logo-home.png") no-repeat;
  height: 70px;
  width: 73px;
  padding: 0;
  margin: 5px 0 13px;
}
.home .logo-block .header__title{
  padding: 0;
  float: none;
  line-height: 23px;
  letter-spacing: 0;
}
.home #header .box-lang{
  position: absolute;
  top: 9px;
  right: 20px;
  font-size: 10px;
  line-height: 14px;
  text-align: left;
  padding: 0 0 2px;
}
.home #header .box-lang__item{
  border: 1px solid #949ca9;
  border-radius: 3px;
  display: block;
  width: 139px;
  height: 26px;
  padding: 5px 30px 5px 18px;
  color: #fff;
  position: relative;
}
.home #header .box-lang__item:after{
  position: absolute;
  right:16px;
  content:'';
  width:4px;
  height:4px;
  position:absolute;
  top:50%;
  border:1px solid #fff;
  border-width:0 0 1px 1px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top:-3px;
  line-height: 0;
  z-index: 1;
}
.home #header .box-lang:hover .box-lang__item{
  color: #111;
  border: 1px solid #fff;
  background: #fff;
}
.home #header .box-lang:hover .box-lang__item:after{
  border:1px solid #111;
  border-width:0 0 1px 1px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.home #header .list-lang{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
   padding: 7px 0;
}
.home #header .box-lang:hover .list-lang{display: block;}
.home #header .list-lang__link{
  color: #999;
  display: block;
  padding: 8px 19px 9px;
}
.home #header .list-lang__link:hover,
.home #header .list-lang__item.active .list-lang__link{
  color: #111;
  text-decoration: none;
}
.panel{
  position: relative;
  margin: 0 0 64px;
}
.panel .btn-list__item{
  float: left;
  width: 50%;
  position: relative;
}
.panel .btn-list__link{
  display: block;
  height: 60px;
  background: #3f4446;
  border-bottom: 2px solid #3f4446;
  border-left: 1px solid #515658;
  text-align: center;
  color: #a6abad;
  font-size: 16px;
  line-height: 58px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 20px;
}
.panel .btn-list__item:first-child .btn-list__link{border-left: none;}
.panel .btn-list__link:hover,
.panel .btn-list__item:hover .btn-list__link{
  background: #272a2b;
  border-bottom: 2px solid #008dcd;
  text-decoration: none;
  color: #fff;
}
.user-login-wrapper{
    position: absolute;
    top:100%;
    left: 50%;
    width: 324px;
    display: none;
    margin: -8px 0 0 -152px;
}
.user-login{    
  border-style: solid;
  border-width: 1px;
  border-color: rgb(229, 233, 238);
  background-color: #fff;
  box-shadow: 0.5px 0.866px 2px 0px rgba(54, 57, 60, 0.2);
  border-radius: 3px;
    position: relative;
    padding: 20px;
    margin-top: 8px;
}
.user-login:before{
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -22px;
    width: 24px;
    height: 8px;
    background-image: url(../img/images.png);
    background-repeat: no-repeat;
    background-position: -170px 0px;
    content: "";
}
.panel .btn-list__item:hover:hover .user-login-wrapper{display: block;}
.user-login .password-form{
  display: none;
  font-size: 11px;
  line-height: 16px;
  color: #999;
}
.user-login.form-password .password-form{display: block;}
.user-login.form-password .login-form{display: none;}
.user-login .password-form > strong{
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  text-transform: uppercase;
  margin: -3px 0 8px;
}
.user-login .password-form p{margin: 0 0 10px;}
.user-login .box-field{padding: 0 0 15px;}
.user-login .box-field .input{height: 40px;}
.user-login input[type="submit"]{
  width: 100%;
  display: block;
  margin: 0 0 12px;
  background: #008dcd;
  color: #fff;
}
.user-login input[type="submit"]:hover{
  color: #008dcd;
  background: transparent;
}
.user-login input[type="submit"]:last-child{margin: 0;}
.user-login .link-holder{
  text-align: center;
  font-size: 11px;
}
.user-login .link-holder a{
  color: #999;
  border-bottom: 1px dotted #999;
}
.user-login .link-holder a:hover{
  text-decoration: none;
  border-bottom: 1px dotted transparent;
}
.twocolumns{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0 65px;
}
.twocolumns .textholder{
  float: left;
  width: 500px;
  color: #666;
  font-size: 14px;
  line-height: 24px;
  padding: 0 30px 10px 0;
}
.twocolumns .textholder__title{
  font-size: 34px;
  line-height: 50px;
  margin: 0 0 12px;
  text-transform: uppercase;
  color: #000;
}
.twocolumns .textholder p{margin: 0 0 38px;}
.twocolumns .textholder .btn{padding: 0 28px;}
.twocolumns .video-block{
  float: right;
  margin: 0 78px;
  padding: 35px 0;
  background: #008ccb;
  width: 514px;
}
.twocolumns .video-block .video{
  margin: 0 -78px;
  position: relative;
  background: #000;
}
.twocolumns .video-block .video__image{position: relative;}
.twocolumns .video-block .video iframe {
    border: 0 none !important;
    height: 450px !important;
    width: 100% !important;
    vertical-align: top;
}
.twocolumns .video-block .video .video__play{
  overflow: hidden;
  text-indent: -9999px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/btn-play.png) no-repeat 50% 50%;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}
.twocolumns .video-block .video .video__play:hover{
  opacity: .85;
}
.twocolumns .video-block .video img{
  vertical-align: top;
  width: 100%;
  height: 450px;
}
.gallery{
  background: #fff;
  padding: 94px 0 92px;
}
.gallery__heading{
  border-bottom: 1px solid #e5e9ee;
  margin: 0 0 27px;
  padding: 0 70px 24px 0;
  color: #000;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 37px;
}
.gallery .slick-slide{
  width: 300px;
  padding: 0 30px 0 0;
  color: #666;
  font-size: 14px;
  line-height: 24px;
}
.gallery .slick-slide .slick__date{
  font-size: 12px;
  line-height: 15px;
  display: block;
  margin: 0 0 12px;
}
.gallery .slick-slide .slick__heading{
  height: 70px;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  font-size: 16px;
  margin: 0 0 7px;
  display: block;
}
.gallery .slick-slide .slick__heading a{
  color: #008dcd;
  display: block;
}
.slick-next,
.slick-prev{
  position: absolute;
  bottom: 100%;
  right: 0;
  background: url(../img/btn-gallery.png) no-repeat 100% 0;
  width: 13px;
  height: 23px;
  overflow: hidden;
  text-indent: -9999px;
  border: none;
  margin: 0 0 58px;
}
.slick-next:hover{background-position: 100% 100%;}
.slick-prev{
  right: 33px;
  background-position: 0 0;
}
.slick-prev:hover{background-position: 0 100%;}
.home footer{
  background-color: #ecf0f5;
  padding: 0;
  height: 62px;
  position: relative;
  margin-top: -62px;
  min-width: 1170px;
  line-height: 64px;
}

.home .footer-holder{
  margin: 0 auto;
  position: relative;
  width: 1170px;
}
.home .footer-copy {padding: 0;}
.home .footer-menu {padding-right: 0;}
.home .footer-phone {padding-left: 106px;}

@media screen and (max-width: 1210px){
  .home .main-container .center-holder{
    padding: 0 20px;
  }
  .home #header{
    margin: 0 -20px;
  }
  .panel{
    margin: 0 -20px 64px;
  }
  .gallery{
    padding: 0;
  }
  .home .main-container .gallery .center-holder{
    padding: 94px 20px 92px;
    background: #fff;
  }
  .home .footer-holder{
    padding: 0 20px;
  }
}

/*LP page*/

html, body{
  height: 100%;
}
.landing-page{}
.landing-page.main{
  width: 100%;
  min-width: 1200px;
  min-height: 100%;
  position: relative;
  text-align: center;
  padding-bottom: 63px;
  background: url(../img/lp-bg.jpg) center no-repeat #0678af;
  background-size: cover;
  overflow: hidden;
}
.landing-page .container{
  width: 1170px;
  margin: 0 auto;   
  position: relative;
}
.landing-page footer {
    padding-left: 0px;
}
.landing-page .footer-copy{
  padding-left: 0;
}
.landing-page .footer-menu{
  padding-right: 0;
}
.landing-page .sidebar-logo{
  border: none;
  border-right: 1px solid #e5e9ee;
  padding-left: 0;
  text-align: left;
  float: left;
}
.landing-page .header__title {
  padding-right: 0;
  width: 710px;
}
.landing-page .lp-content{}
.landing-page .lp-rates{
  display: table;
  width: 100%;
  padding-bottom: 90px;
}
.lp-rates .lp-rates-item{
  display: table-cell;
  width: 370px;
  margin: 0 15px;
  padding: 0 30px 130px;
  border-right: 30px solid transparent;
  position: relative;
}
.lp-rates .lp-rates-item:nth-child(3){
  border-right: none;
}
.lp-rates .lp-rates-item:before{
  background: #fff;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2);
}
.lp-rates-item__illustration{
  position: relative;
  margin: 0 -30px;
}
.lp-rates-item__illustration img{
  border-radius: 5px 5px 0 0; 
  -moz-border-radius: 5px 5px 0 0; 
  -webkit-border-radius: 5px 5px 0 0;
  width: 370px;
  height: auto;
}
.lp-rates-item__button{
  position: absolute;
  display: block;
  left: 30px;
  right: 30px;
  bottom: 40px;
  height: 60px;
  line-height: 57px;
  text-align: center;
  background: #bb2433;
  border: 1px solid #bb2433;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(187,36,51,.3);
  -moz-box-shadow: 0px 2px 2px 0px rgba(187,36,51,.3);
  box-shadow: 0px 2px 2px 0px rgba(187,36,51,.3);
-moz-transition-duration: 0.3s;
-webkit-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
-ms-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: background, color;
-ms-transition-property: background, color;
-o-transition-property: background, color;
-moz-transition-property: background, color;
transition-property: background, color;
}
.lp-rates-item__button:hover{
  text-decoration: none;
  color: #bb2433;
  background: #fff;
}
.lp-rates-item__about li{
  position: relative;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #111;
  text-align: left;
  padding: 10px 0 0 30px;
}
.lp-rates-item__about li:before{
  content: "";
  width: 20px;
  height: 20px;
  background: url(../img/lpicons.png) 0 0 no-repeat;
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0;
  top: 14px;
}
.lp-rates-item__price{
  position: relative;
  text-align: center;
  font-size: 30px;
  line-height: 33px;
  font-weight: 500;
  color: #008dcd;
  padding-bottom: 8px;
}
.lp-rates-item__price i{
  font-size: 29px;
}
.lp-rates-item__title{
  position: relative;
  font-weight: 300;
  text-transform: uppercase;
  color: #666;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  padding: 12px 0 10px;
}
.lp-rates-item__title a{
  font-weight: 700;
  font-size: 26px;
  color: #111;
  display: table;
  margin: 0 auto;
  text-decoration: none;
-moz-transition-duration: 0.2s;
-webkit-transition-duration: 0.2s;
-o-transition-duration: 0.2s;
-ms-transition-duration: 0.2s;
transition-duration: 0.2s;
-webkit-transition-property: color;
-ms-transition-property: color;
-o-transition-property: color;
-moz-transition-property: color;
transition-property: color;
}
.lp-rates-item__title a:hover{
  color: #008dcd;
}
.greeting-heading{
  font-weight: 300;
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  padding-top: 39px;
}
.lp-content > h4{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 36px 0 45px;
}
.lp-buttons{
  padding: 47px 0 70px;
  text-align: center;
  font-size: 0px;
}
.lp-buttons a{
  display: inline-block;
  width: 357px;
  height: 60px;
  line-height: 58px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 4px; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px;
  position: relative;
  margin: 0 7px;
-moz-transition-duration: 0.2s;
-webkit-transition-duration: 0.2s;
-o-transition-duration: 0.2s;
-ms-transition-duration: 0.2s;
transition-duration: 0.2s;
-webkit-transition-property: background, color;
-ms-transition-property: background, color;
-o-transition-property: background, color;
-moz-transition-property: background, color;
transition-property: background, color;
text-align: left;
}
.lp-buttons a.lp-button-howtopay{
  padding-left: 80px;
}
.lp-buttons a.lp-button-howtoopen{
  padding-left: 70px;
}
.lp-buttons a:before{
  display: block;
  content: "";
  position: absolute;
  top: 10px;
  width: 35px;
  height: 35px;
}
.lp-buttons a.lp-button-howtopay:before{
  left: 34px;
  background: url(../img/lpicons.png) -25px 0 no-repeat;
}
.lp-buttons a.lp-button-howtoopen:before{
  left: 27px;
  background: url(../img/lpicons.png) -60px 0 no-repeat;
}
.lp-buttons a:hover{
  background: #fff;
  color: #008dcd;
}
.lp-buttons a.lp-button-howtopay:hover:before{
  background: url(../img/lpicons.png) -25px -35px no-repeat;
}
.lp-buttons a.lp-button-howtoopen:hover:before{
  background: url(../img/lpicons.png) -60px -35px no-repeat;
}
.chosen-rate-heading{
  text-align: center;
  font-size: 48px;
  line-height: 60px;
  color: #fff;
  font-weight: 300;
  padding: 89px 0 57px;
}
.chosen-rate-heading strong{
  display: inline-block;
  color: #111;
  background: #ffa726;
  padding: 0 11px 0 10px;
  border-radius: 4px; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px;
  font-weight: 700;
  line-height: 51px;
}
.chosen-rate-heading strong i{
  font-size: 47px;
}
.lp-about-activation{
  width: 1030px;
  margin: 0 auto;
  padding: 60px 45px 54px;
  background: #fff;
  border-radius: 4px; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px;
  text-align: left;
}
.lp-about-activation hr{
  clear: both;
  height: 26px;
  background: none;
  border: none;
  border-bottom: 1px solid #e5e9ee;
  margin: 0 0 16px 0;
}
.lp-about-activation__card{
  float: right;
  width: 355px;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: #111;
  text-transform: uppercase;
  text-align: center;
}
.lp-about-activation__card:before{
  content: "";
  display: block;
  background: url(../img/img-girl.png) 0 0 no-repeat;
  width: 195px;
  height: 335px;
  position: absolute;
  right: -182px;
  top: -65px;
}
.lp-about-activation__card .card-info{
  background: #ffa726;
  height: 210px;
  text-align: center;
  border-radius: 4px; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px;
  padding-top: 77px;
  color: #fff;
  margin-bottom: 6px;
}
.lp-about-activation__card .card-info strong{
  font-size: 30px;
  color: #111;
  display: block;
  font-weight: 700;
  padding-top: 16px;
}
.lp-about-activation p.note{
  font-size: 20px;
  line-height: 36px;
}
.lp-about-activation p.note span{
  color: #ef5350;
}
.lp-about-activation__steps{
  width: 530px;
  float: left;
  position: relative;
  font-size: 20px;
  line-height: 30px;
  color: #111;
  font-weight: 300;
}
.activation-steps-heading{
  font-weight: 400;
  padding-bottom: 11px;
}
.copyitem{
  cursor: pointer;
}
.copyitem:hover{
  text-decoration: underline;
}

/*registration page*/

.register .center-holder{
  margin: 0 auto;
  position: relative;
  width: 1170px;
}
.panel .btn-list__link.active{
    background: #272a2b;
    border-bottom: 2px solid #008dcd;
    text-decoration: none;
    color: #fff;
}

.register .form-title{
  font-size: 34px;
  margin-bottom: 23px;
  text-transform: uppercase;
}
.register .form-subtitle{
  font-size: 14px;
  color: #666666;
  margin-bottom: 10px;
  letter-spacing: -0.1px;
}
.block-white_register{
  padding: 42px 20px 22px 99px;
  margin-bottom: 76px;
}
.form-register{
  max-width: 872px;
  padding-top: 30px;
}
.main-container-register{
  padding-left: 0;
  padding-top: 0;
}
.register footer{
  padding-left: 0;
}
.private-form-col_nolabel{
  float: none;
  display: inline-block;
  vertical-align: bottom;
}
.private-form-col_nolabel .btn{
  margin-bottom: 21px;
  padding: 0 18px;
}
.box-capcha{
  position: relative;
    margin: -17px 0 43px 0;
    width: 100%;
    height: 69px;
    display: block;
}
.g-recaptcha{
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
    left: -67px;
    position: relative;
}
.message-error{
  display: none;
  color: #e01a2e;
  line-height: 14px;
    margin-bottom: -4px;
}
input.invalid{
  border-color: #e01a2e;
  box-shadow: none;
}
label.invalid{
  color: #e01a2e;
}
.register input:focus,
.register input:hover,
.register input:active{
  box-shadow:none;
}
.send-code{
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  font-size: 11px;
  color: #999999;
}
.send-code__link{
  font-size: 11px;
  color: #111111;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.send-code-link:hover{
  opacity: 0.8;
  text-decoration: none;
}
.register .label span{
  margin-right: 5px;
}
.register .button-send{
  width: 203px;
    letter-spacing: 0.5px;
}
.please-save{
    line-height: 1.6;
    font-size: 15px;
    letter-spacing: -0.7px;
    padding: 25px 121px 21px 0;
}

.register  #command-register-continue span {
    font-size: 16px;
    text-transform: none;
    color: #999999;
}
.register  #command-register-continue .btn {
    margin: 16px 0 3px 0;
    padding: 0 28px 0 36px;
    letter-spacing: -0.15px;
}

.button-send.invalid{
  border-color: #e01a2e;
  color:  #e01a2e;
}
.button-send.invalid:hover{
  background: #f5f7f9;
}
.register.home .main-container{
  padding-bottom: 0;
}
.register .input {
  height: 40px;
}
.register .customSelect .selectedValue {
  height: 40px; 
  line-height: 38px;
}
.register .footer-copy {
    padding: 0 0 0 25px;
}
.register .footer-menu {
    padding-right: 30px;
}
.register footer {
  background-color: #fff;
}