/* reset */
/* main variables */
body{margin: 0px; padding: 0px; font-family: 'Roboto', Arial, Helvetica, sans-serif; background-color: #FFF; color:#282828; font-size: 14px !important; font-weight: 400; line-height: 1; position: relative; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; overflow:auto; background: #ecf0f5;}
/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin: 0; padding: 0; border: 0; font-size: 100%;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main{display: block;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after, q:before, q:after{content: ''; content: none;}
table{border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px;}
html{ -webkit-text-size-adjust: none; -ms-text-size-adjust: none;}
input, textarea{color: #97a0a3; font-size: 14px; font-family: 'Roboto', Arial, Helvetica, sans-serif; font-weight: 400; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; resize: none;}
input[type="button"], input[type="submit"], button{cursor: pointer;}
input:focus::-webkit-input-placeholder{ visibility:hidden}
input:focus:-ms-input-placeholder{ visibility:hidden}
input:focus:-moz-placeholder{ visibility:hidden}
input:focus::-moz-placeholder{ visibility:hidden}

td{margin: 0px; padding: 0px;}
form{padding: 0px; margin: 0px;font-family: 'Roboto', Arial, Helvetica, sans-serif;}
a{ color: #008dcd; /*-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;*/ text-decoration: none; outline: none; -webkit-tap-highlight-color: transparent;}
a:hover{text-decoration: underline;}
a, span, div, button{outline: none !important;font-family: 'Roboto', Arial, Helvetica, sans-serif;}
input[type=submit], input[type=button], button{-webkit-appearance: none; outline: none;font-family: 'Roboto', Arial, Helvetica, sans-serif;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
*:before, *:after{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.clearfix:after, .wrapper:after, .row:after{content: ""; display: block; height: 0; clear: both; visibility: hidden;}
ul, li{list-style: none;}
/* titles */
h1, .h1{font-size: 30px; color:#333333; position:relative; font-family: 'MuseoCyrl500', Arial, Helvetica, sans-serif;  line-height:1.5; font-weight:normal; letter-spacing:1.3px;}
h2{font-size: 30px; color:#fff;position:relative; font-family: 'MuseoCyrl500', Arial, Helvetica, sans-serif;letter-spacing: 1.3px;font-weight:normal;}
h3{font-size:30px; color:#333333;position:relative;font-family: 'MuseoCyrl500', Arial, Helvetica, sans-serif;font-weight:normal;    letter-spacing: 0.8px;}
h4{font-size: 24px; color:#282828;position:relative;font-family: 'MuseoCyrl500', Arial, Helvetica, sans-serif;}
h5{font-size: 18px; color:#282828;position:relative;font-family: 'MuseoCyrl500', Arial, Helvetica, sans-serif;}
h6{font-size: 14px;  color:#282828;position:relative;font-family: 'MuseoCyrl500', Arial, Helvetica, sans-serif;}

/* text position */
.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.nowrap{white-space: nowrap !important;}
.hidden{display:none;}


@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}


.btn{
    display: inline-block;
    border: 1px solid #008dcd;
    border-radius: 4px;
    background: transparent;
    font-size: 13px;
    text-transform: uppercase;
    color: #008dcd;
    height: 40px;
    padding: 0 32px;
    line-height: 38px;
    text-align: center;
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out, color .1s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out, color .1s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out, color .1s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out, color .1s ease-in-out;
}
button.btn{
    line-height: normal !important;
}
.btn:hover{
    background: #008dcd;
    color: #fff;
    text-decoration: none;
}

.btn-red{
    border-color: #bb2433;
    color: #bb2433;
}
.btn-red:hover{
    background: #bb2433;
}

.btn-small{
    height:36px;
    line-height: 34px;
}
.btn-smaller{
    height: 20px;
    line-height: 19px;
    padding: 0 9px;
    font-size: 10px;
}
.btn-large{
    height:50px;
    line-height: 48px;
}

.btn-white{
    border-color: #fff;
    color: #fff;
}
.btn-white:hover{
    background-color: transparent;
}


.main-container{
    width: 1170px;
    margin: 0 auto;   
    position: relative;
    min-height: 100vh;
}
.sidebar{
    width: 245px;
    float: left;
}
.sidebar:before{
  content: "";
  position: absolute;
  display: block;
  width: 245px;
  top: 0;
  bottom:0;
    box-shadow: 0px 0px 5px 0px rgba(54, 57, 60, 0.1);
    background: #fff;
    z-index: 10;
}
.content{
    width: 925px;  
    float: left;
    padding-bottom: 62px;
}

.sidebar-logo{
    width: 246px;
    border-left: 1px solid #e5e9ee;
    border-bottom: 1px solid #e5e9ee;
    padding: 10px 15px;
    position: relative;
    z-index: 11;
}
.logo{
    display: inline-block;
    height: 51px;
    font-weight: 900;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    padding-left: 68px;
    line-height: 51px;
    text-transform: uppercase;
    background: url('../img/logo.png') no-repeat center left;
    text-decoration: none;
}
.logo:hover{
  text-decoration: none;
}
.menu{
   width:100%; 
    position: relative;
    z-index: 11;
}
.menu__item{
    display: block;
    width: 100%;
    border-bottom: 1px solid #e5e9ee;
}
.menu__link{
    display: block;
    width: 100%;
    padding: 28px 42px;
    font-size: 15px;
    color: #111111;
    text-decoration: none;
    position: relative;
}
.menu__link:hover{
    text-decoration: none;
}
.menu__item:hover{
    background: #f8f9fa;
}
.menu__link:before{
    position: absolute;
    content: "";
    left: 15px;
    top: 26px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../img/images.png');
    background-repeat: no-repeat;
}

.menu__link_balance{
    padding-top: 19px;
        padding-bottom: 20px;
}
.menu__link_balance span{
    font-size: 11px; 
    color: #bb2433;
    display: block;
}

 .menu__item_parent .menu__link:after{
    content: "";
    display: block;
    background-image: url('../img/images.png');
    background-repeat: no-repeat;
    background-position: -160px 0;
    position: absolute;
    top: 30px;
    right: 16px;
    width: 5px;
    height: 8px;
}

 .menu__item_opened .menu__link:after,  .menu__item_active .menu__link:after{    
    background-position: -160px -10px;
    position: absolute;
    top: 31px;
    right: 12px;
    width: 8px;
    height: 5px;
}

 .menu__item_opened,  .menu__item_active{
    background: #f8f9fa;
}
.menu__item_active .menu__link{    
   font-weight: 500;
}


.icon-cabinet:before{
    background-position: 0 0;
}
.icon-news:before{
    background-position: -20px 0;
}
.icon-profile:before{
    background-position: -40px 0;
}
.icon-team:before{
    background-position: -60px 0;
}
.icon-balance:before{
    background-position: -80px 0;
}
.icon-statistic:before{
    background-position: -100px 0;
}
.icon-buy:before{
    background-position: -120px 0;
}

.icon-support:before{
    background-position: -140px 0;
}

.submenu{
      padding: 0 41px 6px;
    display: none;
    
}
.submenu__item{
    padding-bottom: 21px;
}
.submenu__link{
    font-size: 12px;
    color: #666666;
    text-decoration: none;
}
.submenu__link:hover{
    text-decoration: underline;
}

.submenu__item_active .submenu__link{
    color: #111111;
    text-decoration: none;
    text-shadow: 0 0;
}

.menu__item_opened .submenu,  .menu__item_active .submenu{    
    display: block;
}

header {
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(54, 57, 60, 0.1);  
  height: 71px;
}
.header__title{
    font-size: 20px;
    text-transform: uppercase;
    line-height: 70px; 
    text-align: center;
    padding-right: 215px;
    float: left;
    width: 100%;
    letter-spacing: 3.6px;
}

.user-info-wrapper{
    float: right;
    width: 215px;    
    border-left: 1px solid #e5e9ee;
    padding: 15px 10px 15px 30px;
    margin-left: -215px;
    position: relative;
    z-index: 10;
}

.user-info{
    display: inline-block;
    padding-right: 20px;
    position: relative;
    font-size: 0px;
}

.user-info:after{    
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    right: 8px;
	width: 6px;
	height: 6px;
  border: 1px solid #858f92;
  border-top: none;
  border-left: none;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
.user-info:hover:after{    
  border-color: #008dcd;
}


.user-info__image{
    display: inline-block;
    width: 50px;
    height: 40px;
    overflow: hidden;
    margin-right:10px;
    vertical-align: middle;
}
.user-info__image img{
    border-radius: 50%;
}
  

.user-info__name{
  display: inline-block;
    color: #111111;
    text-decoration: none;
    vertical-align: middle;
        line-height: 14px;
        width: 85px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 45px;
        font-size: 14px;
}

.user-logout-wrapper{
    position: absolute;
    top:70px;
     right: -2px;
    width: 235px;
    display: none;
}

.user-logout{    
  border-style: solid;
  border-width: 1px;
  border-color: rgb(229, 233, 238);
  background-color: #fff;
  box-shadow: 0.5px 0.866px 2px 0px rgba(54, 57, 60, 0.2);
  border-radius: 3px;
    position: relative;
    padding: 20px;
    margin-top: 8px;
}
.user-logout:before{
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 8px;
    background-image: url(../img/images.png);
    background-repeat: no-repeat;
    background-position: -170px 0px;
    content: "";
}


.user-info-wrapper:hover .user-logout-wrapper{
    display: block;
}

.title{
    color: #91959a;
    font-size: 20px;
    padding-bottom: 25px;
}

.title-back{
    padding-left: 20px;
    position: relative;
}
.title-back:hover{
  text-decoration: none;
}
.title-back:before{
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 8px;
    height: 14px;
    background-image: url(../img/images.png);
    background-repeat: no-repeat;
    background-position: -220px 0px;
}

.title-back:hover:before{
    background-position: -230px 0px;
}

.main-content{
      padding: 27px 0 35px 30px;
}

.block-personal{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1); 
  width: 440px;
  height: 210px;
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
}
.block-personal:nth-child(2n+1){
    margin-left: 0;
    clear: both;
}
.block-personal > a:hover{
  text-decoration: none;
}
.block-personal__title{
    display: block;
    height: 53px;
    border-bottom: 1px solid #e5e9ee;
    position: relative;
    line-height: 56px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 30px;
    text-transform: uppercase;
    color: #111111;
    -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.block-personal__title:before{
    position: absolute;
    content: "";
    width: 7px;
    height: 12px;
    display: block;
    top: 50%;
        margin-top: -3px;
    right: 30px;
     background-image: url(../img/images.png);
    background-repeat: no-repeat;
    background-position: -200px 0px;
}
.block-personal-info{
    display: block;
    padding: 30px;
    width: 100%;
}
.block-personal-info__image{
    width: 118px;
    display: inline-block;
    vertical-align: middle;
}
.block-personal-info__image_top{
    vertical-align: top;
}
.block-personal-info__image img{
    max-width: 100%;
    max-height: 100%;
}


.block-personal-info__photo{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}
.block-personal-info__right p.block-personal-info__name {
  padding-top: 4px;
}
.block-personal-info__right p.block-personal-info__name ~ p{
  padding-top: 0px;
  padding-bottom: 7px;
}
  
.block-personal-info__right{
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    font-size: 15px;
    color: #999999;
}
.block-personal-info__right p b{
    font-weight: 500;
    color: #111111;
}
.block-personal-info__right p{
    padding: 7px 0;
}

.block-personal-info__right p a{
    color: #008dcd;
}
.block-personal-info__right .small_font{ font-size: 12px;
padding-bottom: 0;}
.block-personal-info__right .btn{
       margin-top: 8px;
    margin-bottom: 12px;
}
.block-personal:hover .block-personal__title{
    color: #008dcd;
}
.block-personal:hover .block-personal__title:before{
   background-position: -210px 0px;
}

.block-personal:hover .btn{
    background: #008dcd;
    color: #fff;
}

.block-personal:hover .btn-red{
     background: #bb2433;
    color: #fff;
}
.block-personal-name{
    font-size: 15px;
}
.blocks{
    padding-bottom: 80px;
}

footer{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    height: 62px;
    padding-left: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 60px;
    color:#999999;
    font-size: 14px;
}

.user-logout .btn{
    width: 100%;
    padding: 0 10px;
}

.footer-copy{
       padding: 0 0 0 25px;
    float: left;
}
.footer-phone{
    float: left;
    padding-left: 100px;
}
.footer-phone a{
    text-decoration: none;
    color: #111;
}

.footer-menu{
    float: right;
    padding-right: 30px;
}
.footer-menu__item{
    display: inline-block;
    margin-left: 18px;
    color: inherit;
}
.footer-menu__link{
    display: block;
    color: inherit;
    line-height: 1;
}

.footer-menu__link:hover{
    text-decoration: underline;
}

.block-buy,
.block-balance{
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1); 
  width: 440px;
  height: 247px;
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
}
.block-buy:nth-child(2n+1),
.block-balance:nth-child(2n+1){
    margin-left: 0;
    clear: both;
}
.block-buy > a,
.block-balance > a{
  display: block;
  height: 247px;
  text-decoration: none;
}
.block-buy__title,
.block-balance__title{
    display: block;
    height: 52px;
    border-bottom: 1px solid #e5e9ee;
    position: relative;
    line-height: 54px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 30px;
    text-transform: uppercase;
    color: #111;
    -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.block-buy__title:before,
.block-balance__title:before{
    position: absolute;
    content: "";
    width: 7px;
    height: 12px;
    display: block;
    top: 50%;
    margin-top: -3px;
    right: 30px;
    background-image: url(../img/images.png);
    background-repeat: no-repeat;
    background-position: -200px 0px;
}
.block-buy-info,
.block-balance-info{
    display: block;
    padding: 28px 15px 15px 30px;
    width: 100%;
}
.block-buy-info__icon,
.block-balance-info__icon{
    width: 116px;
    display: inline-block;
    vertical-align: top;
}
.block-buy-info__icon i,
.block-balance-info__icon i{
  display: block;
  position: relative;
  width: 105px;
  height: 105px;
  overflow: hidden;
}
.block-buy-info__icon i.image-buy-product{
  overflow: visible;
}
.block-buy-info__icon i.image-buy-product img{
  width: 108px;
  height: auto;
  position: absolute;
  left: -14px;
  top: 3px;
}
.block-buy-info__right,
.block-balance-info__right{
    display: inline-block;
    vertical-align: top;
    width: 265px;
    font-size: 15px;
    color: #999999;
    padding-top: 12px;
}
.block-buy-info__right{
  padding-top: 6px;
}
.block-buy-info__right p b,
.block-balance-info__right p b{
    font-weight: 700;
    color: #111111;
}
.block-buy-info__right p.note,
.block-balance-info__right p.note,
p.note{
  font-size: 12px;
}

.block-balance-info__right p{
  padding: 4px 0;
  font-size: 15px;
}
.block-buy-info__right p{
  padding: 0;
  line-height: 24px;
}
.block-buy-info__right .btn,
.block-balance-info__right .btn{
  margin-top: 13px;
  font-size: 12.5px;
  padding: 0 30px;
}
.block-buy-info__right .btn{
  padding: 0;
  width: 110px;
  text-align: center;
  font-size: 13px;
}
.icon-balance-wallet{
  background: url(../img/iconset.png) 0 0 no-repeat;
}
.icon-balance-webmoney{
  background: url(../img/iconset.png) 0 -105px no-repeat;
}
.icon-balance-webmoney{
  background: url(../img/iconset.png) 0 -105px no-repeat;
}
.icon-balance-withdrawal{
  background: url(../img/iconset.png) 0 -210px no-repeat;
}
.icon-balance-revenue{
  background: url(../img/iconset.png) 0 -315px no-repeat;
}
.icon-buy-key{
  background: url(../img/iconset.png) 0 -420px no-repeat;
}
.icon-balance-switch:before{
  content: "";
  display: block;
  position: absolute;
  left: 11px;
  top: 0;
  width: 80px;
  height: 105px;
}
.icon-balance-switch.switch-on:before{
  background: url(../img/switch.png) 0 0 no-repeat;
}
.icon-balance-switch.switch-off:before{
  background: url(../img/switch.png) 0 -106px no-repeat;
}
.block-buy a:hover .block-buy__title,
.block-balance a:hover .block-balance__title{
  color: #008dcd;
}
.block-buy a:hover .block-buy__title:before ,
.block-balance a:hover .block-balance__title:before {
  background-position: -210px 0px;
}
.block-buy a:hover .btn-red,
.block-balance a:hover .btn-red{
    background: #bb2433;
    color: #fff;
}
.block-buy a:hover .btn-blue,
.block-balance a:hover .btn-blue{
    background: #008dcd;
    color: #fff;
}
.block-buy .fa{
  vertical-align: middle;
}
.btn-blue{
    border-color: #008dcd;
    color: #008dcd;
}
.btn-blue:hover{
    background: #008dcd;
    color: #fff;
}
.wmr-wallet{
  padding-top: 12px;
}
.wmr-wallet label{
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 15px;
  color: #999;
  text-transform: uppercase;
}
.wmr-wallet input{
  width: 258px;
  height: 50px;
  line-height: 1;
  border: 1px solid #c8c8c8;
  padding: 0 19px;
  font-size: 14px;
  color: #111;
  margin-top: 7px;
  border-radius: 4px; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.wmr-wallet button{
  height: 50px;
  line-height: 48px;
}
.wmr-wallet hr{
  border: none;
  clear: both;
  height: 1px;
  overflow: hidden;
  background: #e5e9ee;
  margin: 30px 0;
}
a.hint{
  display: inline-block;
  width: 13px;
  height: 13px;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
}
a.hint i{
  display: block;
  width: 12px;
  height: 12px;
  background: #008dcd;
  text-align: center;
  line-height: 12px;
  color: #fff;
  font-style: normal;
  font-size: 9px;
  border-radius: 50%; 
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%;
  position: absolute;
  top: -1px;
}
.form-withdrawal{
  padding: 10px 0 15px;
}
.form-withdrawal button.btn{
  width: 212px;
  font-size: 12px;
  padding: 0;
}
.form-withdrawal hr{
  border: none;
  clear: both;
  height: 1px;
  overflow: hidden;
  background: #e5e9ee;
  margin: 30px 0;
}
.form-withdrawal hr + .form-field-heading{
  margin-top: -5px;
}
.form-field-heading{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  clear: both;
}
.form-switchgroup:after,
.form-radiogroup:after{
  content: "";
  display: block;
  height: 1px;
  overflow: hidden;
  clear: both;
}
.form-radiogroup label{
  position: relative;
  float: left;
  width: 160px;
  margin: 15px 55px 0 0;
  padding-left: 32px;
  font-size: 15px;
  color: #666;
  line-height: 20px;
}
.form-switchgroup label{
  position: relative;
  float: left;
  width: 260px;
  height: 125px;
  margin: 25px 135px 0 0;
  padding-left: 170px;
  font-size: 15px;
  color: #666;
  font-weight: bold;
  line-height: 127px;
}
.form-switchgroup label input,
.form-radiogroup label input{
  display: none;
}
.form-radiogroup label:nth-child(4n){
  margin-right: 0;
}
.form-radiogroup + .form-field-heading{
  padding-top: 40px;
}
.form-switchgroup label input + i,
.form-radiogroup label input + i{
  display: block;
  position: absolute;
  left: 0;
  top: 0px;
  background: #fff;
  border-radius: 50%; 
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  width: 20px;
  height: 20px;
  border: 1px solid #a6a9ad;
}
.form-switchgroup label input + i{
  left: 15px;
  top: 50%;
  margin-top: -10px;
}
.form-switchgroup label:hover input + i,
.form-switchgroup input[type=radio]:checked + i,
.form-radiogroup label:hover input + i,
.form-radiogroup input[type=radio]:checked + i{
  border: 1px solid #008dcd;
}
.form-switchgroup input[type=radio]:checked ~ span,
.form-radiogroup input[type=radio]:checked ~ span{
  color: #111;
}
.form-switchgroup input[type=radio]:checked + i:before,
.form-radiogroup input[type=radio]:checked + i:before {
  content: "";
  width: 12px;
  height: 12px;
  background: #008dcd;
  border-radius: 50%; 
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
}
.form-switchgroup label i.icon-balance-switch{
  display: block;
  width: 80px;
  height: 105px;
  position: absolute;
  left: 64px;
}
.form-switchgroup label i.icon-balance-switch:before{
  left: 0;
}
.form-switchgroup label i.icon-balance-switch.switch-on:before{
  top: -2px;
  background: url(../img/switch.png) -80px 0 no-repeat;
}
.form-switchgroup label i.icon-balance-switch.switch-off:before{
  top: 25px;
  background: url(../img/switch.png) -80px -106px no-repeat;
}
.form-switchgroup input[type=radio]:checked ~ i.icon-balance-switch.switch-on:before{
  background: url(../img/switch.png) 0px 0 no-repeat;
}
.form-switchgroup input[type=radio]:checked ~ i.icon-balance-switch.switch-off:before{
  background: url(../img/switch.png) 0px -106px no-repeat;
}
.money-transfer{
  padding-top: 15px;
}
.money-transfer p{
  font-size: 15px;
  line-height: 24px;
  color: #999;
}
.money-transfer p.note{
  font-size: 12px;
  line-height: 20px;
}
.money-transfer p strong{
  color: #111;
}
.transfer-assets-info:after,
.transfer-wmr-info:after{
  content: "";
  display: block;
  height: 1px;
  overflow: hidden;
  clear: both;
}
.transfer-assets-info .icon-balance-wallet{
  display: block;
  overflow: hidden;
  width: 70px;
  height: 75px;
  background: url(../img/iconset.png) 0 -525px no-repeat;
  float: left;
  margin-right: 20px;
}
.wallet-info-assets{
  float: left;
  margin: 12px 50px 0 0 ;
  width: 180px;
}
.transfer-assets-info button{
  float: right;
  margin-top: 18px;
  padding: 0;
  width: 188px;
  text-align: center;
  font-size: 13px;
}
.money-transfer hr{
  border: none;
  clear: both;
  height: 1px;
  overflow: hidden;
  background: #e5e9ee;
  margin: 25px 0;
}
.transfer-wmr-info__option{
  float: left;
  margin-right: 180px;
}
.transfer-wmr-info__option a{
  font-size: 10px;
  margin-left: 12px;
}
.transfer-wmr-info + hr{
  margin-top: 21px;
}
.text-heading{
  font-size: 16px;
  color: #111;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 3px;
}
ul.text-points{
  padding-bottom: 10px;
}
ul.text-points li{
  position: relative;
  padding: 23px 0 2px 15px;
  font-size: 12px;
  line-height: 19px;
  color: #666;
}
ul.text-points li:before{
  content: "";
  display: block;
  position: absolute;
  overflow: hidden;
  width: 3px;
  height: 3px;
  background: #008dcd;
  border-radius: 50%; 
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%;
  left: 0;
  top: 31px;
}

.search-form{
 padding-top: 15px;
 }
.search-form:after{
  content: "";
  display: block;
  height: 1px;
  overflow: hidden;
  clear: both;
}
.search-form label{
  float: left;
  width: 163px;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}
.search-form button{
  float: right;
  width: 102px;
  padding: 0;
  text-align: center;
}
.search-form input[type="text"]{
  width: 530px;
  height: 36px;
  line-height: 36px;
  background: #fff;
  font-size: 14px;
  line-height: 34px;
  color: #999;
  border: 1px solid #999;
  border-radius: 4px; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px;
  float: left;
  padding: 0 19px;
  color: #111;
}
.search-form  input::-webkit-input-placeholder{
    opacity:  1;
}
.search-form input:-moz-placeholder{
    opacity:  1;
}
.search-form input::-moz-placeholder{
    opacity:  1;
}
.search-form input:focus::-webkit-input-placeholder{
    opacity:  0;
}
.search-form input:focus:-moz-placeholder{
    opacity:  0;
}
.search-form input:focus::-moz-placeholder{
    opacity:  0;
}
.search-form + hr{
  border: none;
  clear: both;
  height: 1px;
  overflow: hidden;
  background: #e5e9ee;
  margin: 42px 0 19px;
}

.t-info{
  display: table;
  width: 100%;
}
.t-info-row{
  display: table-row;
}
.t-info-row > div{
  display: table-cell;
  border-bottom: 1px solid #e5e9ee;
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  height: 70px;
  font-size: 12px;
  line-height: 15px;
  color: #666;
}
.t-info-row:nth-child(even) > div{
  background: #f8f9fa;
}
.t-info-row.row-heading > div{
  height: 50px;
  color: #111;
  text-transform: uppercase;
}
.t-cell-date{
  width: 235px;
}
.t-cell-income{
  width: 220px;
}
.t-cell-income-to{
  width: 225px;
}
.t-cell-income-from{
  width: 120px;
}

.pages{
  padding-top: 30px;
  text-align: center;
  font-size: 0;
  padding-left: 3px;
}
table + .pages{
  padding: 15px 0 15px 3px;
}
.pages a{
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  color: #666;
  text-decoration: none;
  background: #fff;
  border: 1px solid #e5e9ee;
  margin-right: 3px;
}
.pages a:hover{
  border: 1px solid #008dcd;
  color: #008dcd;
}
.pages a.active:hover,
.pages a.active{
  background: #008dcd;
  border: 1px solid #008dcd;
  color: #fff;
}
.pages a.active{
  cursor: default;
}
.structure-general{
  padding-top: 10px;
}
.structure-statistics hr,
.structure-general hr{
  border: none;
  clear: both;
  height: 1px;
  overflow: hidden;
  background: #e5e9ee;
  margin: 35px -45px 45px;
}
.structure-statistics hr{
  margin-bottom: 35px;
}
.graph-pos{
  width: 100%;
  position: relative;
  height: 465px;
}
.graph-general{
  height: 465px;
}
.graph-info{
  padding: 35px 0 5px 80px;
}
.graph-info:after{
  content: "";
  display: block;
  height: 1px;
  overflow: hidden;
  clear: both;
}
.graph-info-buttons{
  float: right;
  font-size: 0px;
}
.graph-info-buttons .btn{
  height: 26px;
  line-height: 1 !important;
  text-transform: none;
  padding: 0 15px 1px;
  margin-left: 12px;
  font-size: 13px;
  text-align: center;
}
.statistics .graph-info-buttons .btn{
  padding: 0 0px 1px;
  margin-left: 5px;
}
.graph-info-buttons .btn:first-child{
  margin-left: 0;
}
.graph-info-buttons .btn.day{
  width: 78px;
}
.graph-info-buttons .btn.month{
  width: 100px;
}
.graph-info-buttons .btn.alltime{
  width: 103px;
}
.graph-info-buttons .btn.today{
  width: 91px;
}
.graph-info-buttons .btn.button-period{
  width: 109px;
  padding-left: 34px ;
  text-align: left;
  position: relative;
}
.graph-info-buttons .btn.button-period:before{
  content: "";
  display: block;
  width: 15px;
  height: 17px;
  position: absolute;
  left: 13px;
  top: 4px;
  background: url(../img/images.png) -458px 0 no-repeat;
}
.graph-info-buttons .btn.button-period:hover:before{
  background: url(../img/images.png) -473px 0 no-repeat;
}
.graph-info-period{
  font-size: 12px;
  color: #666;
  line-height: 25px;
}
.money-profit-history{
  padding-top: 10px;
}
.money-profit-history >  hr{
  border: none;
  clear: both;
  height: 1px;
  overflow: hidden;
  background: #e5e9ee;
  margin: 15px -45px 0px;
}

.graph-info-field{
  padding-bottom: 8px;
  margin-left: -80px;
}
.graph-info-field:after{
  content: "";
  display: block;
  height: 1px;
  overflow: hidden;
  clear: both;
}
.graph-info-field label{
  float: left;
  width: 155px;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  text-transform: uppercase;
  color: #999999;
}
.graph-info-field .select-field{
  float: left;
  position: relative;
  height: 36px;
}
.graph-info hr{
  border: none;
  clear: both;
  height: 1px;
  overflow: hidden;
  background: #e5e9ee;
  margin: 22px 0 45px -80px;
}
.graph-info hr:first-child{
  margin: -5px 0 30px -80px;
}
.select1{
  width: 315px !important;
}
.select2{
  width: 105px !important;
}
.select3{
  width: 193px !important;
}
.statistics{
  padding-top: 10px;
}
.structure-statistics{
  padding-top: 0;
}
.structure-statistics .text-heading{
  float: left;
  height: 36px;
  line-height: 36px;
}
.structure-statistics .text-heading + .select-field{
  float: right;
  padding-top: 0;
}
.structure-statistics .select-field .jq-selectbox__select{
  font-size: 12px !important;
}
.structure-statistics .graph-info{
  clear: both;
  padding-top: 25px;
}
.income-type{
  font-size: 0px;
  padding: 15px 0 28px;
  white-space: nowrap;
}
.income-type button{
  padding: 0;
  height: 34px;
  line-height: 32px;
  font-size: 14px;
  text-transform: capitalize;
  margin-right: 15px;
  text-align: center;
}
.income-type button:last-child{
  margin: 0;
}
.income-type .btn-general{
  width: 85px;
}
.income-type .btn-comission{
  width: 138px;
}
.income-type .btn-sells{
  width: 179px;
}
.income-type .btn-bonus{
  width: 214px;
}
.income-type .btn-passive{
  width: 112px;
}
.btn-blue.active{
  background: #008dcd;
  color: #fff;
}
.btn-blue.inactive{
  border: 1px solid #c8c8c8;
  color: #666;
}
.btn-blue.inactive:hover{
  border: 1px solid #008dcd;
  color: #fff;
}
.text-heading + .select-field{
  float: none;
  padding-top: 5px;
}
.support-topic{
  position: relative;
  margin: 0 -45px;
  padding: 0 45px;
  border-top: 1px solid #e5e9ee;
}
.support-topic .block-title{
  padding: 25px 0;
  font-size: 15px;
  border-bottom: none;
}
.support-topic .block-title .support-topic-date{
  font-weight: normal;
  color: #999999;
  text-transform: lowercase;
  font-size: 15px;
}
.support-topic-short{
  padding: 0 45px 25px;
  cursor: pointer;
  margin: 0 -45px;
}
.support-topic-short:hover{
  background: #f8f9fa;
}
.support-topic-short p{
  font-size: 15px;
  line-height: 26px;
}
.support-topic-short p span{
  color: #008dcd;
}
.support-topic-short:hover  p span{
  border: none;
}
.support-topic .messages-block{
  margin: 0 -45px;
  padding: 0 45px;
  background: #f8f9fa;
  border-top: 1px solid #e6e6e6;
}
.support-topic .message-answer{
  background: #fff;
}
.support-topic .message-answer:after {
    border-bottom: 10px solid #fff;
}
.support-topic  .block-grey-inwhite{
  border-top: 1px solid #e6e6e6;
  margin-bottom: 0;
}
.support-topic-messages{
  display: none;
}
.support-topic + hr{
  border: none;
  clear: both;
  height: 1px;
  overflow: hidden;
  background: #e5e9ee;
  margin: 0px -45px;
}
.text-heading + .support-topic{
  margin-top: 15px;
}
.ask-support {
  padding-top: 10px;
}
.ask-support .text-heading{
  font-size: 16px;
}
.ask-support hr{
  border: none;
  clear: both;
  height: 1px;
  overflow: hidden;
  background: #e5e9ee;
  margin: 30px 0;
}
.ask-support > hr{
  margin: 25px -45px 23px;
}
.support-form .text-heading{
  padding-bottom: 8px;
}
.support-form .jq-selectbox__select {
    height: 40px;
    line-height: 38px;
}
.support-form .jq-selectbox__trigger-arrow{
  top: 16px;
}
.ask-support p{
  font-size: 15px;
  line-height: 26px;
  color: #666;
}
.ask-support p a.link-phone{
  text-decoration: none;
  color: #111;
}
.ask-support .text-heading + p{
  margin-top: 20px;
}
.support-form label{
  display: block;
  padding: 18px 0 8px;
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
}
.required{
  color: #e01a2e;
}
.select4{
  width: 100%;
}
.support-form textarea {
  width: 100%;
  height: 100px;
  padding: 10px 14px;
  overflow: auto;
  resize: none;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  color: #111;
}
.support-form input{
  width: 100%;
  height: 40px;
  line-height: 38px;
  padding: 0px 14px;
  overflow: auto;
  resize: none;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  color: #111;
}
.support-form input:focus,
.support-form textarea:focus{
  border: 1px solid #008dcd;
}
  
.support-form input::-webkit-input-placeholder,
.support-form textarea::-webkit-input-placeholder{ opacity:  1; color: #999; }
.support-form input:-moz-placeholder,
.support-form textarea:-moz-placeholder{ opacity:  1; color: #999; }
.support-form input::-moz-placeholder,
.support-form textarea::-moz-placeholder{ opacity:  1; color: #999; }

.support-form input:focus::-webkit-input-placeholder,
.support-form textarea:focus::-webkit-input-placeholder{ opacity:  0; }
.support-form input:focus:-moz-placeholder,
.support-form textarea:focus:-moz-placeholder{ opacity:  0; }
.support-form input:focus::-moz-placeholder,
.support-form textarea:focus::-moz-placeholder{ opacity:  0; }

.support-form .form-field{
  width: 258px;
  float: left;
  margin-right: 15px;
}
.form-fields-pos:after{
  content: "";
  display: block;
  height: 1px;
  overflow: hidden;
  clear: both;
}
.form-fields-pos .form-field:last-child{
  margin-right: 0;
}
.form-file{
  position: relative;
}
.form-file:after{
  content: "";
  display: block;
  height: 1px;
  overflow: hidden;
  clear: both;
}
.form-file input[type="file"] {
    position: absolute;
    background: none;
    border: 0;
    width: 175px;
    height: 40px;
    outline: none;
    font-size: 14px;
    -moz-opacity: 0;
    filter: alpha(opacity: 0);
    opacity: 0;
    cursor: pointer;
    z-index: 10;
    clear: both;
    left: 0;
}
.form-file .fakefile{
  display: block;
  width: 160px;
  height: 40px;
  position: relative;
  line-height: 38px;
  padding-left: 33px;
  font-size: 12px;
  color: #666;
  cursor: pointer;
  border: 1px solid #666;
  border-radius: 4px; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px;
  float: left;
}
.form-file .fakefile:before{
  content: "";
  display: block;
  background: url(../img/images.png) -307px 0 no-repeat;
  width: 15px;
  height: 15px;
  overflow: hidden;
  position: absolute;
  left: 14px;
  top: 13px;
}
.form-file input[type="file"]:hover + .fakefile{ 
  color: #008dcd;
  border-color: #008dcd;
}
.form-file input[type="file"]:hover +  .fakefile:before{
  background: url(../img/images.png) -322px 0 no-repeat;
}  
#filetext{
  position: absolute;
  margin-top: 50px;
  color: #999999;
  font-size: 10px;
}
.file-note{
  color: #999999;
  font-size: 10px;
  line-height: 12px;
  float: left;
  margin-left: 15px;
  width: 630px;
  z-index: 11;
  position: relative;
}
.highcharts-legend-item tspan{
  font-weight: normal !important;
}






.blocks-version{
       padding-bottom: 105px;
}

.block-version{
    width: 288px;
    margin-left: 15px;
    text-align: center;
    float: left;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(54, 57, 60, 0.1);
}

.block-version:nth-child(3n+1){
    margin-left: 0;
    clear: both;
    
}

.block-version__image{
    height: 190px;
    overflow: hidden;
}
.block-version__image img{
    min-width: 100%;
    min-height: 100%;
}
.block-version-info{
    padding: 27px 30px 15px;
}
.block-version__title{
    font-size: 16px;
    font-weight: 700;
    color: #111111;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.block-version__price{
    font-size: 20px;
    font-weight: 500;
    color: #008dcd;
}
.block-version__price i{
    font-size: 17px;
}


.block-version-list{
    padding-top: 23px;
}
.block-version-list__item{
    position: relative;
    padding: 0 0 10px 16px;
    line-height: 1.45;
    font-size: 14px;
    color: #666666;
    text-align: left;
}
.block-version-list__item:before{
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
     background-image: url(../img/images.png);
    background-repeat: no-repeat;
    background-position: -240px 0px;
    width: 13px;
    height: 11px;
}

.block-version-bottom{
    background: #f8f9fa;
    border-top: 1px solid #e5e9ee;
    padding:30px;
}
.block-version-bottom .btn{
    width: 100%;
}

.block-version_active .btn{
    margin-top: 16px;
}

.block-version_active .block-version-bottom{
    background: #008dcd;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.block-version_active .block-version-bottom:after{
   content: "";
    position: absolute;left: 0;
    top: 100%;
    border: 144px solid transparent;    
    border-top: 30px solid #008dcd;;
}
.block-version_active .block-version__image{
  position: relative;
}
.block-version_active .block-version__image:before{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,141,205,.5);
}
.block-version_active .block-version__image:after{
  content: "";
  display: block;
  position: absolute;
  width: 105px;
  height: 105px;
  left: 50%;
  top: 50%;
  margin-left: -53px;
  margin-top: -53px;
  background: url(../img/icon-active.png) no-repeat;
}

.popup__title{
    font-size: 20px;
    color: #111;
    padding-bottom: 18px;
    border-bottom: 1px solid #e5e9ee;
}

.popup__text{
    font-size: 14px;
    padding-top: 25px;
    color: #666666;
    line-height: 1.45;
    
}
.popup__text p{
    padding-bottom: 25px;
}

.popup .btn{
    padding: 0 75px;
}

.popup{
    width: 560px;
    padding: 42px 45px;
}

.block-white {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
    padding: 30px 45px;
    margin-bottom: 15px;
 
}

.tarif-info .block-personal-info{
    padding: 0;    
}
.tarif-info{
    border-bottom: 1px solid #e5e9eb;
    padding-bottom: 28px;
}

.tarif-info .block-personal-info__image{
    width: 116px;
}
.tarif-info .block-personal-info__right p{
    padding: 4px 0;
}

.block-title{
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111;
    font-weight: 700;
    padding: 15px 0;
}

.block-title-first{
    margin: -28px -45px 0 -45px;
    border-bottom: 1px solid #e5e9ee;
    padding-left:45px;
    padding-right: 45px;
    position: relative;
}

.block-title-first_arrow:after{
    position: absolute;
    content: "";
    width: 7px;
    height: 12px;
    display: block;
    top: 50%;
    margin-top: -5px;
    right: 45px;
    background-image: url(../img/images.png);
    background-repeat: no-repeat;
    background-position: -200px 0px;
}

.tariff-block{
    
}
.tariff-radios{
        padding: 10px 0 0 0;
}

.tariff-radios__col{
    width: 230px;
    float: left;
}
.tariff-radios__col:nth-child(4n+4){
    width: 115px;
}

.tariff-radio{
    float: left;
    width: 28px;
    margin-right: -28px;
}
.tariff-radio-info{
    float: left;
    width: 100%;
    padding-left: 30px;
    font-size: 15px;
    color: #666;
    padding-top: 2px;
}

.tariff-radio-info--text-dark{
    color: #111;
}

.tariff-radio-info__price{
    font-weight: 700;
    color: #111;
    font-size: 20px;
    display: block;
    padding-top: 15px;
}
.tariff-radio-info__price i{
    font-size: 18px;
}

.tariff-radio-info__time{
    font-size: 12px;
    color: #999999;
    display: block;
    padding-top: 15px;
}

.block-tariff-radios{
    padding: 11px 0 29px;
    border-bottom: 1px solid #e5e9eb;
}

.block-tariff-bottom{
    padding: 30px 0 0 0;
}
.block-tariff-bottom__left{
    float: left;
    padding-top: 12px;
    color: #999999;
    font-size: 13px;
}
.label-checkbox{
    color: #999999;
    font-size: 13px;
    padding-left: 6px;
    padding-top: 1px;
    display: inline-block;
    vertical-align: middle;
}

.label-checkbox a{
    color: #008dcd;
    text-decoration: none;
}
.label-checkbox a:hover{
    text-decoration: underline;
}
.block-tariff-bottom__right{
    float: right;
}
.block-tariff-bottom__right .btn{
    width: 223px;
}
.antivirus-key .block-tariff-bottom__right .btn,
.antivirus-inner .block-tariff-bottom__right .btn{
  width: 140px;
}

.table{
    margin-top: 30px;
    width: 100%;
     margin-bottom: 15px;
}

.table th{
    padding: 15px;
    text-align: left;
    color: #111111;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e9ee;
    vertical-align: middle;
}

.th-sort{
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}

.th-sort__item{
    display: block;
    width: 8px;
    height: 5px;
    margin: 3px 0;
    background-image: url(../img/images.png);
    background-repeat: no-repeat;
}
.sort-up{     
    background-position: -285px 0px;
}
.sort-down{     
    background-position: -285px -8px;
}

.sort-up:hover{     
    background-position: -295px 0px;
}
.sort-down:hover{     
    background-position: -295px -8px;
}



.table td{
    font-size: 12px;
    color: #666666;
    padding: 23px 15px;
    vertical-align: middle;
    border-bottom: 1px solid #e5e9ee;
}

.td-link{
    color: #008dcd;
    text-decoration: none;
}
.td-link:hover{
    text-decoration: underline;
}

.td-price{
    font-size: 13px;
    font-weight: 700;
    color: #666666;
}

.td-price i{
    font-size: 11px;
}

.td-label{
    color: #ffffff;
    display:inline-block;
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px 9px;
    border-radius: 3px;
}

.td-label_red{
    background: #ef5350;
}

.td-label_green{
    background: #86c042;
}
.td-label_yellow{
    background: #ffa726;
}

.table-history-payment tr td:nth-child(1){
    width: 150px;
}
.table-history-payment tr td:nth-child(2){
}

.table-history-payment tr td:nth-child(3){
    width: 130px;
}
.table-history-payment tr td:nth-child(4){
    width: 150px;
}

.table-stripped tr:nth-child(even) td{
    background: #fff;
}
.table-stripped tr:nth-child(odd) td{
    background: #f8f9fa;
}
.table-stripped tr.tr-opened td,
.table-stripped tr.sub-level td{
    background: #008dcd;
    color: #fff;
    border-color: transparent;
}

.sub-level td{
    padding-top: 0px;
    padding-bottom: 8px;
    border: none;
    color: #fff;
}

.tr-opened .td-link{
    color: #fff;
    border-color: transparent;
}
.tr-opened .td-price, .sub-level .td-price{
    color: #fff;
}

.sub-level_last td{
    padding-bottom: 28px;
      border-bottom: 1px solid #e5e9ee;
}
.status-info{ cursor: pointer; }
.status-info-more{ 
    padding-top: 39px;
    position: relative;
    display: none;
}
.status-info-more:before{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #e5e9ee;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 28px;
}
.status-info-more2{
  padding-top: 5px;
}
.status-info-more2:before{
  display: none;
}
.status-info .block-personal-info{
    padding: 0;    
}
.status-info .block-personal-info__right{
   width: 340px; 
}

.block-personal-info__comment{
   width: 340px;
    padding: 10px 15px;
    background: #f8f9fa;
    font-size: 12px;
    color: #666666;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.7;
    letter-spacing: 0.1px;
}
.block-personal-info__comment_small{
    width: 245px;
    margin-left: 95px;
}
.block-personal-info__comment a{
    text-decoration: none;
}
.block-personal-info__comment a:hover{
    text-decoration: underline;
}

.status-info-list{
    padding-top: 2px;
}
.status-info-list__item{
    font-size: 12px;
    color: #666666;
    line-height: 1.7;
    padding: 0 0 18px 15px;
    position: relative;
}
.status-info-list .status-info-list__item:last-child{
    padding-bottom: 0;
}
.status-info-list__item:before{
    position: absolute;
    content: "";
    top: 9px;
    left: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #008dcd;
}
.status-info-title{
    font-size: 15px;
    color: #111;
    padding-bottom: 2px;
}
.status-info-title_large{
    font-weight: 700;
    text-transform: uppercase;
}
.status-info_2{
    padding-top: 30px;
    border: none;
    padding-bottom: 9px;
}

.block-hr{
    margin: 24px -45px 0;
    height: 1px;
    background: #e5e9ee;
}
.block-hr_nom{
    margin-top: -12px;
    margin-bottom: 11px;
}
.status-info-list_pad{
        padding-top: 24px;
}

.block-title__right{
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
    float: right;
        padding-top: 2px;
}

.block-title_border{
    border-bottom: 1px solid #e5e9ee;
}

.messages{
    border-bottom: 1px solid #e5e9ee;
     padding-top: 30px;
}
.messages:last-child{
    border-bottom: 0;
}
.messages_first{
    margin-top: -10px;
}
.messages__item{
    padding: 0 0 30px 0;
}

.message-photo{
    float: left;
    width: 45px;
    height: 45px;
    margin-right: -45px;
     border-radius: 50%;
}
.message-photo img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.message-info{
    width: 100%;
    padding: 12px 0 0px 60px;
    font-size: 14px;
    color: #666666;
    line-height: 1.45;
}
.message-info__top{
    color: #111111;
    font-size: 14px;
    margin-bottom: -4px;
}
.message-info__top span{
    color: #999999;
}
.message-info__top .btn{
    float: right;
    font-size: 10px;
    margin-top: 1px;
}

.message-info__top .edit{
    float: right;
    font-size: 12px;
    margin: 0 13px;
    line-height: 20px;
    color: #999999;
    text-decoration: none;
}
.message-info__top .edit:hover{
    color: #008dcd;
}

.message-answer{
    margin: 25px 0 0 60px;
    background: #f8f9fa;
    border:1px solid #e5e9ee;
       padding: 14px 14px 23px 14px;
    position: relative;
}
.message-answer:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 10px solid #e5e9ee;
}
.message-answer:after{
    content: '';
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 10px solid #f8f9fa;
    position: absolute;
    top: -9px;
    left: 21px;
}

.block-grey-inwhite{
    margin: -5px -45px -30px;
    background: #f8f9fa;
    padding: 12px 45px;
}
.message-info_form{
    padding-top: 0;
}
.block-grey-inwhite .messages__item{
    padding-bottom: 0;
}
.form{
    
}
.form-row{
    
}
.form-row__col{
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.textarea{
    width: 100%;
    background: #fff;
    border: 1px solid #a6a9ad;
    border-radius: 4px;
    padding: 14px 20px;
    font-size: 14px;
    color: #111111;
    height: 120px;
    display: block;
}
.form .btn{
    padding: 0 23px;
}
.blocks-news{
    padding-bottom: 19px;
}

.form ::-webkit-input-placeholder{ color: #999999;}
.form :-ms-input-placeholder{  color: #999999;}
.form :-moz-placeholder{ color: #999999;}
.form ::-moz-placeholder{  color: #999999;}

.block-news{
    width: 288px;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(54, 57, 60, 0.1);float: left;
}

.block-news:nth-child(3n+1){
    margin-left: 0;
    clear: both;
}

.block-news__image{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.block-news__image img{
    min-width: 100%;
    min-height: 100%;
    display: block;
}
.block-news__info{
       padding: 14px 20px;
    font-size: 14px;
}
.ellip {
  display: block;
  height: 100%;
}

.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  text-decoration: none;
}

.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
.block-news__info p{
    height: 63px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.block-news__info a{
    color: #008dcd;
    display: block;
}
.block-news__info a:hover{
    color: #000000;
}
.block-news__info a:hover .ellip-line{
  text-decoration: underline;
}
.block-news__date{
    padding: 10px 0 0 0;
    color: #666666;
    font-size: 12px;
    clear: both;

}
.news-inner__title{
    color: #111111;
    font-size: 20px;
    line-height: 1.5;
    padding-top: 6px;
    padding-bottom: 12px;
}

.news-inner__date{
    font-size: 12px;
    color: #666666;
    padding-bottom: 18px;
}

.text{
    font-size: 14px;
        line-height: 1.75;
}
.text p{
    padding-bottom: 25px;
}

.text img{
    max-width: 100%;
      margin-bottom: 18px;
}
.news-inner .text p:last-child{
    padding-bottom: 0;
}

.block-private{
    height: 250px;
}
.block-private_01 .block-personal-info__right{
    padding-top: 10px;
}
.block-private  .block-personal-info__right .btn{
    margin-top: 12px;
        padding: 0 25px;
}
.block-private_02 p{
    line-height: 1.2;
}

.private-form{
        padding-top: 12px;
}
.private-form-row{
    margin: 0 -8px;
}
.private-form-col{
    width: 33.33%;
    float: left;
       padding: 0 8px 28px;
}
.private-form-col-2{
    width: 50%;
}

.label{
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    padding: 0 ;
        margin: 0 0 9px 0;
}
.label span{
    color: #e01a2e;
}

.input{
    width: 100%;
    background: #fff;
    border: 1px solid #a6a9ad;
    border-radius: 4px;
    padding: 0px 20px;
    font-size: 14px;
    color: #111111;
    height:50px;
    display: block;
    text-shadow: 0 0;
}

.input:hover, .input:focus, .textarea:hover, .textarea:focus{
    border-color: #008dcd;
}
.input_password::-webkit-input-placeholder{ color: #111;}
.input_password:-ms-input-placeholder{  color: #111;}
.input_password:-moz-placeholder{ color: #111;}
.input_password::-moz-placeholder{  color: #111;}

.private-form__hr{
    margin: 2px 0px 30px;
    height: 1px;
    background: #e5e9ee;
}
.private-form .btn {
    padding: 0 25px;
}
.private-form-col-2 .btn {
  padding: 0;
  text-align: center;
  width: 250px;
  font-size: 12px;
}

.tooltip{
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-bottom: -2px;
    background: url('../img/images.png') no-repeat -340px 0;
    cursor: pointer;
}

.status-info_personal{
   padding-top: 16px;
}
.status-info_personal .block-personal-info__image {
    width: 111px;
    max-width: 111px;
}
.block-personal-info__photo img{
  border-radius: 50%; 
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
}
.status-info_personal .block-personal-info__right .btn {
    padding: 0 16px;
}
.status-info_personal .block-personal-info__comment{
     width: 325px;
    margin-left: 22px;
    margin-top: -4px;   
}

.private-form_top{
    margin-top: -15px;
}
.block-personal_command .block-personal-info__right{
    vertical-align: top;
}
.block-personal_command .block-personal-info__right p {
    padding: 0 0 5px;
    line-height: 1.4;
}
.block-personal_command .block-personal-info__image{
    vertical-align: top;
}

.private-form-row .checkbox-box{
    padding-top: 15px;
}

.popup__title_upper{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.popup__text_command{
    font-size: 14px;
    color: #111;
    padding-top: 25px;
}
.popup__text_command p{
    padding-bottom: 20px;
}
.popup__text_command p span{
    font-size: 12px;
    text-transform: uppercase;
    color: #999999;
}

.popup__bottom{
    border-top: 1px solid #e5e9ee;
    padding-top: 30px;
    MARGIN-TOP: 5px;
}

.popup__bottom .btn{
   padding: 0 28px;
    margin-right: 12px;
}

.popup__text_large{
    font-size: 16px;
    
    padding-top: 25px;
}
.block-title_pad{
        padding-top: 13px;
}
.block-title_pad2{
  padding-top: 0px;
  margin-top: -2px;
}
.popup__text_large p {
    padding-bottom: 7px;
}
#command-register-continue .btn{
    margin: 16px 0 3px 0;
    padding: 0 32px;
}

.block-white-nopad{
    padding: 0;
}

.table-arrival{
    width: 100%;
}

.table-arrival tr td{
    vertical-align: middle;
    width: 134px;
    padding: 20px 8px 25px;
    text-align: center;
    font-size: 12px;
    color: #666666;
    border-left: 1px solid #e5e9ee;
}

.table-arrival tr td.table-arrival__title{
    width: auto;
    text-align: left;
    padding-left: 45px;
    line-height: 1.5;
    border: none;
    padding-top: 25px;
    padding-bottom: 20px;
}

.table-arrival__number{
    font-size: 50px;
    font-weight: bold;
    color: #008dcd;
    margin-bottom: -2px;
}

.table-command{
  margin-top: 0;
}

.table-command th {
    color: #666;
    vertical-align: top;
    padding-top: 18px;
    line-height: 1.4;
    padding-bottom: 1px;
}
.table-command td{
    color: #111111;
    padding: 16px 15px 15px;
}

.table-command__photo{
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.table-command__name{
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
    line-height: 1.6;
}
.table-command__name a{
    line-height: 1.4;
}
.table-command__first{
    width: 220px;
}

.pagination{
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}
.pagination-item{
    display: inline-block;
}
.pagination-item__link{
    display: block;
    height: 30px;
    width: 30px;
    border: 1px solid #e5e9ee;
    background: #fff;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    color: #666666;
}

.pagination-item_active .pagination-item__link, .pagination-item__link:hover{
    background: #008dcd;
    border-color: #008dcd;
    color: #fff;
}

.man-info{
     padding-bottom: 5px;
}

.man-info-row{
    margin: 0 -8px;
}
.man-info-col{
    width: 33.33%;
    float: left;
        padding: 17px 8px 9px;
    color: #666666;
    font-size: 14px;
}
.man-info-col span{
    color: #111111;
        text-shadow: 0 0;
    padding-bottom: 6px;
}
.command-list-item{
    display: inline-block;
    padding-right: 12px;
    padding-bottom: 20px;
}
.command-list-item__link{
    display: block;
    color: #666666;
    text-align: center;
    width: 106px;
    height: 34px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    line-height: 32px;
   
    
}
.command-list-item__link:hover, .command-list-item_active .command-list-item__link{
    color: #fff;
    border-color: #008dcd;
    background-color: #008dcd;
    text-decoration: none;
}

.block-filter{
    border-top:1px solid #e5e9ee;
        padding: 20px 0 19px;
}
.block-filter-buttons{
    float: left;
}
.block-filter-buttons__btn{
    display: inline-block;
    padding: 0 19px;
    height: 30px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    line-height: 28px;
    font-size: 12px;
    color: #666666;
    margin-right: 11px;
}
.block-filter-buttons__btn_active, .block-filter-buttons__btn:hover{
     color: #fff;
    border-color: #008dcd;
    background-color: #008dcd;
    text-decoration: none;
}

.block-filter-sort{
    float: right;
    font-size: 12px;
}
.block-filter-sort>span{ vertical-align: middle;}
.sort-select-box{
    display: inline-block;
    vertical-align: middle;
    width: 130px;
    margin-left: 10px;
}

.sort-select-box .customSelect .selectedValue{
    height: 30px;
    line-height: 28px;
    padding-left: 12px;
    font-size: 12px;
}
.sort-select-box .customSelect dd {
    padding: 7px 12px 7px 12px;
    font-size: 12px;
}

.box-grey-inside{
    background: #f8f9fa;
    border: 1px solid #e5e9ee;
       padding: 30px 30px 25px;
    font-size: 12px;
    color: #666;
        margin-bottom: 30px;
}

.box-grey-inside p{
   padding-bottom: 12px;
}
.box-grey-inside__title{
    font-size: 20px;
    color: #000;
    padding-bottom: 40px;
    font-weight: 500;
}

.box-grey-inside__left{
    width: 160px;
    float: left;
}
.box-grey-inside__right{
    width: 583px;
    float: right;
        padding-top: 5px;
}
.command-list{
    margin-top: -1px;
}
.command-levels-item{
    display: block;
       padding-bottom: 5px;
}
.command-levels-item__link{
    display: block;
    width: 110px;
    height: 34px;
    line-height: 32px;
    border: 1px solid #c8c8c8;
    text-align: center;
    border-radius: 4px;
    font-weight: 600;
    font-size: 20px;
    color: #111;
    
}
.command-levels{
    padding-top: 6px;
}

.command-levels-item__link:hover, .command-levels-item_active .command-levels-item__link{
    color: #fff;
     border-color: #008dcd;
    background-color: #008dcd;
    text-decoration: none;
}

.level-add-wrapper{
    display: none;
    position: absolute;
    left: 50%;
    width: 324px;
    margin-left: -162px;
        padding-top: 5px;
}


.level-add{    
  border-style: solid;
  border-width: 1px;
  border-color: rgb(229, 233, 238);
  background-color: #fff;
  box-shadow: 0.5px 0.866px 2px 0px rgba(54, 57, 60, 0.2);
  border-radius: 3px;
    position: relative;
   padding: 17px 20px 20px;
    margin-top: 8px;
    font-size: 14px;
}
.level-add p{
    padding-bottom: 13px;
}
.level-add p a:hover{
    text-decoration: underline;
}

.level-add p a{
    color: #008dcd;
}

.level-add:before{
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 8px;
    background-image: url(../img/images.png);
    background-repeat: no-repeat;
    background-position: -170px 0px;
    content: "";
}

.level-add .btn{
    width:100%;
    padding: 0 10px;
}
.command-level-info:hover .level-add-wrapper{
    display: block;
}

.command-level-info{
    position: relative;
    padding-bottom: 5px;
}
.command-level-info img{
    display: block;
    margin-bottom: 5px;
    max-width: 100%;
}
.command-tabs__item{
    display: none;
}
.command-tabs__item.active{
    display: block;
}
.command-cicle{
    margin-top: -5px;
}
.command-cicle__left{
    float: left;
    padding-top: 10px;
    color: #666666;
    font-size: 0px;
}
.command-cicle__left span{
    white-space: nowrap;
    padding-right: 25px;
    font-size: 14px;
}
.command-cicle__left span b{
    font-weight: normal;
    color: #111;
    text-shadow: 0 0;
}
.command-cicle__right{
    float: right;
}
.command-cicle__right .btn{
    font-size: 14px;
    text-transform: none;
        padding: 0 18px;
    height: 34px;
    line-height: 32px;
}



.command-list-tabs .command-list-item{
    position: relative;
        margin-bottom: 9px;
    z-index: 1;
}
.command-list-tabs  .command-list-item_active:after {
       height: 15px;
    content: "";
    position: absolute;
    width: 52px;
    display: block;
    height: 15px;
    background: url(../img/images.png) no-repeat -355px 0;
    bottom: -10px;
    left: 50%;
    margin-left: -26px;
}
.box-grey-inside__right2{
    float: right;
    width: 200px;
    margin-left: -200px;
    position: relative;
    z-index: 9;
    text-align: right;
     padding-top: 2px;

}
.box-grey-inside__left2{
       width: 100%;
    padding-right: 220px;
    font-size: 15px;
    float: left;
}

.box-grey-inside__left2 p{
    padding-bottom: 24px;
    position: relative;
    padding-left: 26px;
}
.box-grey-inside__left2 p b{
    font-weight: 500;
    color: #008dcd;
    
}
.box-grey-inside__left2 p:before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: url('../img/images.png') no-repeat;
}
.box-grey-inside__left2 p.type1:before{
    background-position: -40px 0;
    width: 16px;
    height: 16px;
}
.box-grey-inside__left2 p.type2:before{
    background-position: -410px 0;
    width: 15px;
    height: 11px;
}
.box-grey-inside__left2 p.type3:before{
    background-position: -425px 0;
    width: 13px;
    height: 13px;
}
.box-grey-inside__left2 p.type4:before{
    background-position: -440px 0;
    width: 13px;
    height: 13px;
    
}
.box-grey-inside__right2 .btn{
        font-size: 14px;
    text-transform: none;
    padding: 0 24px;
    height: 34px;
    line-height: 32px;
}
.box-grey-inside__left2 p:last-child{
    padding-bottom: 6px;
}

/* antivirus inner */
.antivirus-inner .tariff-radios,
.antivirus-key .tariff-radios {
  padding-top: 24px; }
  .antivirus-inner .tariff-radios__col,
  .antivirus-key .tariff-radios__col {
    display: inline-block;
    width: 148px;
    margin: 0 65px 22px 0;
    float: none; }
  .antivirus-inner .tariff-radios__col:nth-child(4n),
  .antivirus-key .tariff-radios__col:nth-child(4n) {
    margin-right: 0; }

.antivirus-inner .tariff-radio-info--text-dark,
.antivirus-key .tariff-radio-info--text-dark {
  color: #111; }

.antivirus-inner .tariff-radio-info__price,
.antivirus-key .tariff-radio-info__price {
  padding-top: 4px;
  font-size: 15px;
  line-height: 20px; }

.antivirus-inner .tariff-radio-info__price i.fa,
.antivirus-key .tariff-radio-info__price i.fa {
  font-size: 15px; }

.antivirus-inner .block-white,
.antivirus-key .block-white {
  margin-bottom: 0; }

.block-step {
  padding: 27px 0 15px 0;
  border-bottom: 1px solid #e5e9ee; }
.block-step:last-child{ border-bottom:none;}
.block-step:first-child { padding-top:0px;}

.choose-product {
  padding-top: 9px;
  padding-bottom:30px; }
  .choose-product__item {
    display: inline-block;
    width: 258px;
    height: 386px;
    margin-right: 14px;
    border: 1px solid #e5e9ee;
    box-sizing: border-box;
    background-color: #fff;
    vertical-align: top; }
    .choose-product__item label{
      display: block;
      height: 386px;
      cursor: pointer;
    }
    .choose-product__item:hover {
      border: 1px solid #008dcd; }
    .choose-product__item--border-blue {
      border: 1px solid #008dcd; }
  .choose-product__item:last-child {
    margin-right: -4px; }
  .choose-product-img {
    padding: 27px 0 0 15px; display: block; }
  .choose-product h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: -1px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    color: #111; }
  .choose-product__item--border-blue h2{ color: #008dcd; }
	 .choose-product__item:hover h2{ color: #008dcd; }
  .choose-product-radio {
    padding-top: 20px;
    text-align: center;
    display: block;}
    .choose-product-radio span {
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      color: #666;
      vertical-align: middle;
      padding-left: 3px; }
    .choose-product-radio label.text-dark {
      color: #111; }
    .choose-product-radio label.hover {
      color: #111;
      cursor: pointer; }

.block-choose-license {
  border: none; }

.choose-license {
  padding-top: 10px; }
.choose-license input {
    width: 300px;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    line-height: 1;
    color: #111; }
.choose-license input:focus {
      border: 1px solid #008dcd; }

.block-light-grey {
  background-color: #f8f9fa; }
  .block-light-grey .block-tariff-bottom {
    padding: 0; }
  .block-light-grey .block-title {
    display: inline-block; }
    .block-light-grey .block-title span {
      font-size: 20px; }

input::-webkit-input-placeholder {
  font-size: 14px;
  color: #999;
  opacity: 1; }

input::-moz-placeholder {
  font-size: 14px;
  color: #999;
  opacity: 1;}

input:-moz-placeholder {
  font-size: 14px;
  color: #999;
  opacity: 1; }
input:focus:-ms-input-placeholder {
  font-size: 14px;
  color: #999;
  opacity: 1;}
input::-webkit-input-placeholder {
  font-size: 14px;
  color: #999;
  opacity: 1; }
input:focus::-moz-placeholder{ opacity: 0;}  
input:focus:-moz-placeholder{ opacity: 0;}  
input:focus:-ms-input-placeholder { opacity: 0;}  
input:focus::-webkit-input-placeholder { opacity: 0;}  

  
  .active .submenu__link{ color:#111111; text-decoration:none;}

